* {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


.conteudo {
    background-color:lightpink;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.imagemBG{
     width: 100%;
}
.alert-danger{
    height: 4.5rem;
}

.mainContent {
    background-color: honeydew;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    padding-top: 5rem;
    height: 100vh;
}


@media (max-width: 767px){
    .conteudo{
        height: 30%;
    }

    .col-6{
        width: 100%;
    }

    .imagemBG{
     width: 50%;}

}