
* {
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    background-color: honeydew;
    /*background-color: red;*/
    border-radius: 5px;
    padding-bottom: 1rem;
}

.faixaMain{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.hahs{
    display: inline;
    margin-left: 0.5rem;
}
.buttonMobile{
    display:none;
}

@media (max-width: 991px){
    .logout{
        margin-top: 0.8rem;
    }
}

@media (max-width: 768px){
    body{
        height: 100%;
        padding: 0.8rem;
    }
    .btn{
        display: none;
    }
    .buttonMobile{
        display: inline-block;
    }
}