
* {
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    background-color: honeydew;
    border-radius: 5px;
    padding-bottom: 1rem;
}

.faixaMain{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.hahs{
    display: inline;
    margin-left: 0.5rem;
}